.jumbo {
  grid-area: jumbo;
  height: 100vh;
  width: 100vw;
  display: grid;
  background-color: var(--black);
}

.jumbo-div {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  grid-template-areas: 
    "text"
    "buttons";
  justify-content: center;
  align-content: center;
}

.jumbo-text {
  grid-area: text;
  margin: 0 auto;
  text-align: center;
  display: grid;
  grid-template-areas: 
    "isa"
    "health"
}

.isa{
  grid-area: isa;
  font-family: 'Alfa Slab One', Arial, sans-serif;
  font-size: 5em;
  text-shadow: 0 0 20px var(--green);
  /* margin-bottom: -10px; */
}

.health {
  grid-area: health;
  font-family: 'Great Vibes', Arial, Helvetica, serif;
  font-size: 3em;
  text-shadow: 0 0 10px var(--green);
  margin: -10px 0 10px -20px;
}

.jumbo-buttons {
  text-align: center;
  color: var(--black);
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, min-content);
  grid-template-areas: 
    "left-button right-button"
}

@media only screen and (max-width: 420px) {
  .isa{
    font-size: 3em;
  }
  
  .health{
    font-size: 1.5em;
  }

  .button {
    font-size: .8em;
    padding: 0 15px;
  }
}